<div class="container">
  <h2>About</h2>
  <!-- Add User Button --> 
  <button ng-click="addUser()" class="add-user">Add User</button> 
  <!-- List Multiple Inputs -->
  <section ng-repeat="user in users">
    <span class="serial-number">{{ $index + 1 }}.</span>
    <input ng-model="user.firstName" class="users-container-inputs-text" type="text" placeholder="First Name" />
    <input ng-model="user.lastName" class="users-container-inputs-text" type="text" placeholder="Last Name" />
    <input ng-model="user.address" class="users-container-inputs-text" type="text" placeholder="Address" />
    <a class="users-container-inputs-button" ng-click="removeUser(user)">X</a>
  </section>
</div>